*{
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 50px 0;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-dark .navbar-brand {
    color: #dcdde1;
}

.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    background: #dcdde1;
    color: #262626;
}

.main {
    position: relative;
    background: url(../img/background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 290px 0 200px;
}

.main h2 {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.main p {
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: #dcdde1;
}

.main .btn {
    background: #718093;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

@media(max-width: 974px) {
    .main{
        padding: 400px 0;
    }

    .main h2 {
        font-size: 2em;
    }
}

@media(max-width: 768px) {
    .main{
        padding: 400px 0;
    }

    .main h2 {
        font-size: 2em;
    }
}
/* 
#footer {
    max-height: 150px;
}*/

/* .footer-copyright {
    margin-top: 15px;
}  */

#page-footer {
    height: 50px;
}

#slider {
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 500px;
}

#logo {
    width: 180px;
    height: 70px;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }











